*{
    font-family: 'Open Sans', sans-serif;
}

.fp-section .fp-tableCell{
    
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
}

.btnBackPosition {
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.answers {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fp-section p {
    font-size: 60px;
}

.btnAnswer {
    height: 10vh;
    width: 20vh;
    margin: 2vh;
    background-color: #4C9CA0;
    border-radius: 2vh;
    outline: none;
    font-size: 20px;
    color: white;

}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
  
  .centered {
    width: 300px;
    height: 110px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .group {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
  }
  
  label {
    position: absolute;
    top: 36.6666666667px;
    color: rgba(0, 0, 0, 0.5);
    font: 400 36.6666666667px sans-serif;
    cursor: text;
    transition: 0.25s ease;
  }
  
  input {
    display: block;
    width: 100%;
    padding-top: 36.6666666667px;
    border: none;
    border-radius: 0;
    color: black;
    background: white;
    font-size: 36.6666666667px;
    transition: 0.3s ease;
  }
  input:valid ~ label {
    top: 0;
    font: 700 22px sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }
  input:focus {
    outline: none;
  }
  input:focus ~ label {
    top: 0;
    font: 700 22px sans-serif;
    color: #4C9CA0;
  }
  input:focus ~ .bar:before {
    transform: translateX(0);
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #333 !important;
  }
  
  .bar {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    width: 550px;
    height: 4px;
    transition: 0.3s ease;
    position: relative;
  }
  .bar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    background: #4C9CA0;
    transform: translateX(-100%);
  }
  
  ::selection {
    background: #4C9CA0;
  }
